
* {
    background-color: bisque;
}



.postre-de-la-semana {
    width: 3000px;
    height: 20px;
    background-color: rgb(221, 174, 86);
    border: 1px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.boniatos{
    color: rgb(91, 155, 233);
    font-size: 25px;
    font-weight: bold;
} 

.resaltado {
    color: rgb(91, 155, 233);
} 

.ingredientes {
    color: rgb(17, 25, 178);
}

.preparacion {
    color: rgb(17, 25, 178);
}